@import "../../../variables";


.btn-danger {
    height: 49px;
}

label {
    font-weight: 600;
    color: $das_secondary_04;
}
input[type="text"] {
    height: 45px;
    border: 2px solid $das_secondary_03;
    border-radius: 2px;
    box-shadow: none;
}

input[type="text"].ng-touched,
input[type="text"]:focus-within {
    height: 45px;
    border-radius: 0px;
    background-color: $das_secondary_02;
    border: 2px solid $das_secondary_01;
}

.section-header {
    font-weight: 700;
    line-height: 24px;
}

h3 {
    font-weight: 700;
    line-height: 36px;
    font-size: $das_font_02;
}

h4 {
    font-size: $das_font_07;
}

.btn:disabled {
    background: $das_primary_10;
    opacity: 0.3;
}

.invalid {
    border-color: $das_primary_09 !important;
}

.valid {
    border-color: $das_secondary_05!important;
}
