<div class="modal-content">
    <div class="modal-header">
        <div class="col-md-11">
            <h3>Create New Ad</h3>
        </div>
        <div class="col-md-1">
            <svg width="38" height="38" viewBox="0 0 38 38" fill="none" (click)="close()">
                <rect width="38" height="38" rx="2" fill="#D6DCE5" fill-opacity="0.3" />
                <path d="M19 19L13 25M13 13L19 19L13 13ZM25 25L19 19L25 25ZM19 19L25 13L19 19Z" stroke="#696969"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
    </div>
    <div class="modal-body ml-4">
        <form #adForm="ngForm" (ngSubmit)="save()">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="section-header">1.Section 1</h4>
                </div>
            </div>
            <div class="form-group ml-3 mb-3">
                <label class="form-label" for="name">Name*</label>
                <input type="text" class="form-control" id="name" name="name" #name="ngModel" [(ngModel)]="ad.name"
                    required [ngClass]="{'invalid': name.errors && name.touched,'valid': !name.errors && name.dirty }">
            </div>
            <div class="form-group ml-3 mb-3">
                <label class="form-label" for="metric1">Metric1*</label>
                <input type="text" class="form-control" id="metric1" name="metric1" required #metric1="ngModel"
                    [(ngModel)]="ad.metric1" mask="0*"
                    [ngClass]="{'invalid': metric1.errors && metric1.touched,'valid': !metric1.errors && metric1.dirty }">
            </div>
            <div class=" form-group ml-3 mb-3">
                <label class="form-label" for="metric2">Metric2*</label>
                <input type="text" class="form-control" id="metric2" name="metric2" required #metric2="ngModel"
                    [(ngModel)]="ad.metric2" mask="0*"
                    [ngClass]="{'invalid': metric2.errors && metric2.touched,'valid': !metric2.errors && metric2.dirty }">
            </div>
            <hr class="mt-4">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="section-header">2. Section 2</h4>
                </div>
            </div>
            <div class="form-group ml-3 mb-3">
                <label class="form-label" for="metric3">Metrci3</label>
                <input type="text" class="form-control" id="metric3" name="metric3" #metric3="ngModel" mask="0*"
                    [(ngModel)]="ad.metric3">
            </div>
            <div class="form-group ml-3 mb-3">
                <label class="form-label" for="metric4">Metric4</label>
                <input type="text" class="form-control" id="metric4" name="metric4" #metric4="ngModel" mask="0*"
                    [(ngModel)]="ad.metric4">
            </div>
            <hr class="mt-4">
            <div class="row form-group ml-3">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary w-100" [disabled]="adForm.invalid">Save</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-danger w-100" (click)="close()">Discard</button>
                </div>
            </div>
        </form>
    </div>
</div>