<nav class="navbar navbar-expand-lg">
    <div class="navbar-collapse collapse justify-content-center">
        <ul class="navbar-nav navbar-center nav-tabs">
            <li *ngFor="let item of submenu"   class="nav-item" [ngClass]="{
                'active' : item.active === 'true'
              }">
                <a class="nav-link"  [routerLink]="[item.to]">{{ item.name }} </a>
            </li>
        </ul>
    </div>
</nav>