@import "../../../variables";


.navbar {
    background-color: $das_primary_05;
    top: 0px;
}


nav {
    height: 80px;
    box-shadow: 0px 5px 6px #0000000F;
}



.nav-tabs {
    border-bottom: inherit;

    .nav-item {
        text-align: center;
        position: relative;
        border-bottom: inherit;
        margin-right: 32px;

        &.active {
            position: relative;

            > .nav-link {
                color: $das_text_06;
            }

            &:hover {
                > .nav-link {
                    color: $das_text_06;
                }
            }

            &.active:before {
                content: "";
                position: absolute;
                bottom: -18px;
                width: 85%;
                left: 10px;
                border-bottom: 3px solid $das_primary_03;
            }
        }

        &:hover:before {
            content: "";
            position: absolute;
            bottom: -18px;
            width: 85%;
            left: 10px;
            border-bottom: 3px solid $das_primary_03;
        }
    }

    .nav-link {
        border: 3px solid transparent;
        color: $das_text_07;
    }

    .nav-link.active,
    .nav-item.show .nav-link {
        color: $das_text_05;
        background-color: inherit;
        border-color: inherit;
    }
}

.nav-link {
    border-color: transparent;
    font-size: $das_font_04;
}


