<nav class="navbar navbar-expand-lg">
    <div class="navbar-brand"> <span class="brand">AUDIO</span> SERVE </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav nav-tabs">
            <li [routerLinkActive]="['active']" class="nav-item">
                <a [routerLink]="['/ads']" class="nav-link">Main Tab</a>
            </li>
            <li [routerLinkActive]="['active']" class="nav-item">
                <a [routerLink]="['/projects']" class="nav-link">Main Tab</a>
            </li>
            <li [routerLinkActive]="['active']" class="nav-item">
                <a [routerLink]="['/projects']" class="nav-link">Main Tab</a>
            </li>
            <li [routerLinkActive]="['active']" class="nav-item">
                <a [routerLink]="['/projects']" class="nav-link">Main Tab</a>
            </li>
            <li [routerLinkActive]="['active']" class="nav-item">
                <a [routerLink]="['/projects']" class="nav-link">Main Tab</a>
            </li>
            <li [routerLinkActive]="['active']" class="nav-item">
                <a [routerLink]="['/projects']" class="nav-link">Main Tab</a>
            </li>
        </ul>
    </div>
    <span class="right-side sm-block">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" class="search-fig">
            <defs>
                <style>
                    .a {
                        fill: #fff;
                    }
                </style>
            </defs>
            <path class="a"
                d="M9,2a7,7,0,1,0,4.574,12.281l.426.426V16l6,6,2-2-6-6H14.707l-.426-.426A6.985,6.985,0,0,0,9,2ZM9,4A5,5,0,1,1,4,9,4.985,4.985,0,0,1,9,4Z"
                transform="translate(-2 -2)" />
        </svg> <span class="search">Search </span>
        <img src="../../../assets/1.jpg" alt="avatar" class="user-photo" />
        <span class="user">
            <span class="username"> Will Hunter </span>
            <br>
            <span class="details"> Poolside.Fm </span>
        </span>
    </span>
</nav>