@import "../../../variables";

.nav-tabs {
    border-bottom: inherit;

    .nav-item {
        text-align: center;
        position: relative;
        border-bottom: inherit;
        margin-right: 32px;

        &.active {
            position: relative;

            > .nav-link {
                color: $das_primary_05;
            }

            &:hover {
                > .nav-link {
                    color: $das_primary_05;
                }
            }

            &.active:before {
                content: "";
                position: absolute;
                bottom: -22px;
                width: 85%;
                left: 10px;
                border-bottom: 3px solid $das_primary_05;
            }
        }

        &:hover:before {
            content: "";
            position: absolute;
            bottom: -22px;
            width: 85%;
            left: 10px;
            border-bottom: 3px solid $das_primary_05;
        }
    }

    .nav-link {
        border: 3px solid transparent;
        color: $das_primary_04;
    }

    .nav-link.active,
    .nav-item.show .nav-link {
        color: $das_text_05;
        background-color: inherit;
        border-color: inherit;
    }
}

.nav-link {
    border-color: transparent;
    font-weight: bold;
    font-size: $das_font_02;
}

.navbar {
    background-color: $das_primary_03;
    top: 0px;
}

.navbar-brand {
    color: $das_primary_05;
    word-spacing: -0.4ch;
    font-weight: 300;
    font-size: $das_font_01;
    letter-spacing: 0;
    margin-right: 39px;
    margin-left: 36px;
}

.brand {
    font-weight: bold;
}

nav {
    height: 100px;
}

.search {
    font-size: $das_font_03;
    color: $das_primary_04;
    margin-left: 5px;
    margin-bottom: 36px;
    margin-top: 38px;
    margin-right: 26px;
}

.user {
    font-family: "Open Sans";
    margin-top: 29px;
    margin-bottom: 27px;
    margin-right: 40px;
}

.username {
    color: $das_primary_05;
    font-weight: 600;
}

.details {
    color: $das_primary_04;
}

.user-photo {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 28px;
    margin-bottom: 26px;
    margin-right: 12px;
}

.right-side {
    display: inline-flex;
}

.search-fig {
    margin-bottom: 39px;
    margin-top: 41px;
    margin-right: 10px;
}
