@import "~bootstrap/scss/bootstrap";
@import "./variables";
@import "./fonts";

body {
    font-family: "Roboto";
    background-color: $das_primary_06;
}

.title {
    color: $das_text_06;
    font-size: $das_font_02;
    font-weight: 500;
}

.title-row {
    margin-top: 48px;
    margin-left: 42px;
    margin-right: 30px;
}

.subtitle-row {
    font-size: $das_font_05;
    color: $das_text_08;
}

.btn-primary {
    color: $das_text_05;
    font-size: $das_font_04;
    box-shadow: 0px 5px 6px $das_secondary_07;
    border: 1px solid $das_primary_02;
    border-radius: 4px;
    background-color: $das_primary_01;
    height: 49px;
}

.btn-secondary {
    color: $das_text_06;
    background-color: $das_text_05;
    border: 1px solid $das_text_10;
    border-radius: 4px;
    font-size: $das_font_06;
    height: 50px;
}

.btn-primary:hover {
    background: $das_primary_02;
    border: 1px solid $das_primary_02;
}

.text-right {
    text-align: right;
}

.modal {
    position: fixed;
    top: 0px;
    bottom: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    left: 0 !important;
    right: auto !important;
}

.modal-dialog {
    position: relative;
    margin: 0;
    pointer-events: none;
    float: right;
    min-width: 700px;
}

.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translate(30%, 0);
}

.modal.show .modal-dialog {
    transform: translate(0, 0);
    position: fixed;
    right: 0;
}

.modal-content {
    height: 100vh;
}

.page-link {
    background-color: $das_primary_06;
    border: none;
    color: $das_text_11;
    font-size: $das_font_05;
    padding: 0.375rem 0.5rem;
}

.page-item.active .page-link {
    background: $das_primary_07;
    color: $das_primary_08;
}

.page-item:last-child,
.page-item:first-child .page-link {
    text-decoration: underline;
}

.custom-select {
    border: 1px solid $das_secondary_08;
    color: $das_text_11;
    font-size: $das_font_07;
    height: 50px;
    width: 78px;
    border-radius: 6px;
    text-indent: 16px;
    margin-bottom: 66px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("./assets/icons8-expand_arrow.png") white no-repeat 98.5% !important; /* !important used for overriding all other customisations */
    background: url("./assets/icons8-expand_arrow.png") white no-repeat calc(100% - 10px) !important; /* Better placement regardless of input width */
}

select::-ms-expand {
    display: none;
}

th[sortable] {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

th[sortable].desc:after,
th[sortable].asc:after {
    content: "";
    position: absolute;
    background: url("./assets/sort-up-solid.svg") no-repeat;
    background-size: 8px;
    width: 8px;
    height: 8px;
    float: right;
    margin-top: 8px;
    margin-left: 4px;
}

th[sortable].desc:after {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

th[sortable].desc,
th[sortable].asc {
    color: $das_primary_08;
}

