@import "../../../variables";

.right-side {
    float: right;
    position: relative;
}

.link {
    color: $das_text_09;
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
}

tbody tr {
    height: 90px;
    box-shadow: 0px 5px 6px $das_secondary_06;
    border-radius: 4px;
    opacity: 1;
}

table {
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-top: 78px;
    margin-bottom: 42px;
}

tbody th,
td {
    border-top: 1px solid $das_text_10;
    vertical-align: middle;
}

thead th {
    border: none;
}

th {
    color: $das_text_06;
}

td {
    text-align: right;
    color: $das_text_06;
}

.input-group {
    width: 190px;
    height: 50px;
    color: $das_primary_05;
}

.input-group-text {
    height: 50px;
    width: 16px;
    background-color: $das_primary_05;
    color: $das_text_06;
    border-right: none;
    border-color: $das_text_10;
}

.fa-search {
    width: 2px;
}

input {
    border-left: none;
    border-color: $das_text_10;
}

::placeholder {
    color: $das_text_10;
    font-size: $das_font_06;
}

.m-8 {
    margin-right: 8px;
}

.m-9 {
    margin-right: 9px;
}

.m-neg {
    margin-left: -6px;
}

.dropdown-toggle::after {
    display: none;
}

.option-m {
    margin-right: 10px;
}

.last-row {
    margin-left: 32px;
    margin-right: 30px;
}

.table-row {
    margin-right: 30px;
    margin-left: 30px;
}

th {
    border-left: 1px solid $das_text_10;
}

tr td:last-child {
    border-right: 1px solid $das_text_10;
}

