<das-navbar></das-navbar>
<das-submenu [submenu]="submenu">
</das-submenu>
<div class="title-row ">
    <div class="row">
        <div class="col-6">
            <div class="title">Title </div>
            <div class="subtitle-row"> You have <span class="link">2 pending</span> ads to be approved. </div>
        </div>
        <div class="col-6"> <button class="btn btn-primary right-side" (click)="createAd()"> <svg
                    xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
                    <defs>
                        <style>
                            .a {
                                fill: #fff;
                            }
                        </style>
                    </defs>
                    <path class="a"
                        d="M9.5,2A7.5,7.5,0,1,0,17,9.5,7.5,7.5,0,0,0,9.5,2Zm3,8.25H10.25V12.5a.75.75,0,0,1-.75.75h0a.75.75,0,0,1-.75-.75V10.25H6.5a.75.75,0,0,1-.75-.75h0a.75.75,0,0,1,.75-.75H8.75V6.5a.75.75,0,0,1,.75-.75h0a.75.75,0,0,1,.75.75V8.75H12.5a.75.75,0,0,1,.75.75h0A.75.75,0,0,1,12.5,10.25Z"
                        transform="translate(-2 -2)" />
                </svg>
                <span class="mt-4"> Create New </span>
            </button>
            <form>
                <span class="input-group right-side m-8">
                    <span class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <fa-icon [icon]="faSearch" class="m-neg"></fa-icon>
                        </span>
                    </span>
                    <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="search"
                        [(ngModel)]="searchString" aria-describedby="basic-addon1">
                </span>
            </form>
            <button class="btn btn-secondary right-side m-9">
                <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="calendar"
                    class="svg-inline--fa fa-calendar fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" width="16"
                    height="18" viewBox="0 0 448 512">
                    <path fill="currentColor"
                        d="M400 64h-48V12c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v52H160V12c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v52H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zm-6 400H54c-3.3 0-6-2.7-6-6V160h352v298c0 3.3-2.7 6-6 6z">
                    </path>
                </svg> Last 30 days </button>
            <div ngbDropdown>
                <button class="btn btn-secondary right-side m-8" id="dropdownForm1" ngbDropdownToggle>
                    <fa-icon [icon]="faPlusCircle"></fa-icon> Filter
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                    <form class="px-4 py-3">
                        <div class="form-group">
                            <p>{{count()}} Added filters</p>
                            <ng-container *ngFor="let option of options; index as j">
                                <div class="custom-control custom-checkbox ">
                                    <input type="checkbox" class="custom-control-input option-m" name="options{{j}}"
                                        id="options{{j}}" value="{{option.value}}" [(ngModel)]="option.checked" />
                                    <label class="custom-control-label" for="options{{j}}"> {{option.name}} </label>
                                </div>
                            </ng-container>
                        </div>
                        <button type="submit" class="btn btn-primary mt-1">Save filters</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" table-row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="width: 42%;" sortable="name" (sort)="onSort($event)"> Object Name</th>
                <th scope="col" class="text-right" style="width:12%" sortable="metric1" (sort)="onSort($event)">Metric 1
                </th>
                <th scope="col" class="text-right" style="width:12%" sortable="metric2" (sort)="onSort($event)">Metric 2
                </th>
                <th scope="col" class="text-right" style="width:12%" sortable="metric3" (sort)="onSort($event)">Metric 3
                </th>
                <th scope="col" class="text-right" style="width:12%" sortable="metric4" (sort)="onSort($event)">Metric 4
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ad of sortedAds; index as i; trackBy: trackByIndex">
                <th scope="row" style="align-items: center; padding-left: 42px;"> {{ad.name}} </th>
                <td> {{ ad.metric1 | number }}</td>
                <td> {{ ad.metric2 | number }} <span *ngIf="ad.metric2 >0" style="color: #DCE3ED">GBP</span></td>
                <td> {{ ad.metric3 | number }} <span *ngIf="ad.metric3 >0" style="color: #DCE3ED">GBP</span></td>
                <td> <span style="color: #DCE3ED" *ngIf="ad.metric2 >0">GBP</span> {{ ad.metric4 }} </td>
                <td>
                    <fa-icon [icon]="faEllipsisV" style="color:#DCE3ED; margin-right: 30px;"></fa-icon>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-between last-row">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [boundaryLinks]="true">
        <ng-template ngbPaginationFirst>First</ng-template>
        <ng-template ngbPaginationLast>Last</ng-template>
        <ng-template ngbPaginationPrevious><img src="./../../../assets/icons8-forward.png" alt="previous">
        </ng-template>
        <ng-template ngbPaginationNext><img src="./../../../assets/icons8-forward_2.png" alt="next"></ng-template>
    </ngb-pagination>
    <select class="custom-select" [(ngModel)]="pageSize">
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
    </select>
</div>